<!DOCTYPE html>
<html>
<head>
<title>Features &ndash; 6FigureJobs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<!-- Stylesheet -->
<link href="assets/css/custom.css" rel="stylesheet" media="screen">
<!-- Page CSS -->
<link href="assets/css/page-recruiters.css" rel="stylesheet" media="screen">
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<script src="assets/js/prefixfree.min.js"></script>
<link rel="shortcut icon" href="assets/ico/favicon.ico">
<script type="text/javascript" src="//use.typekit.net/qis2rct.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="page-features">
<div id="wrap" class="wrap">
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-inner">
				<a href="index.html" id="brand" class="brand pull-left">
					<img src="assets/img/6figurejobs.png" alt="6FigureJobs logo">
					<strong class="search hidden-phone">Search $100K+ Jobs</strong>
				</a>
				<button type="button" class="btn btn-navbar collapsed pull-right" data-toggle="collapse" data-target=".nav-collapse">
					Home <span class="caret"></span>
				</button>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="join.html"><strong>Join Free</strong></a></li>
						<li><a href="companies.html">Companies</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="career.html">Career</a></li>
						<li class="active has-divider"><a href="recruiters.html">Recruiters</a></li>
						<li class="has-divider"><a href="#">Sign In</a></li>
					</ul><!--/.nav-->
				</div><!--/.nav-collapse-->
			</div><!--/.navbar-inner-->
		</div><!--/.container-->
	</div><!--/.navbar-inverse-->
	<header class="page-header"><div class="container"><div class="row-fluid">
		<div class="span8">
			<a href="recruiters.html" class="back">Recruiters &raquo;</a>
			<h1 class="page-title">Features</h1>
			<p class="page-subtitle">The “War for Talent” is competitive &amp; time-sensitive. Your search
and connection with candidates needs to be quick &amp; painless!</p>
		</div>
		<div class="span4 btn-wrap">
			<a type="button" class="btn btn-primary btn-large" href="pricing.html">View Pricing &amp; Packages</a>
		</div>
	</div></div></header>
	<article class="section"><div class="container">
		<div class="row-fluid">
			<div class="span8">
				<h2>Contact Candidates Directly</h2>
				<p>Recruiters love the fact that we provide the required contact information needed for them to reach out to candidates. This is a major pain point for recruiters when using other competitive services. We also pose no barriers of communication - nor do we force you to use an internal messaging system.</p>
				<h2>Manually Pre-Screened Candidates</h2>
				<p>Our membership committee pre-screens (by hand) each job seeker that registers for our community. This includes a required profile, valid resume, contact information, and $100K+ salary history. Our pre-screening policy is a proven principle that 6FigureJobs has always upheld to ensure a quality product.</p>
				<h2>Complete Profiles</h2>
				<p>All candidates in the 6FigureJobs community have complete profiles which enables recruiters to thoroughly search for and evaluate a candidate’s qualifications and experience. </p>
				<h2>Free Service for Job Seekers</h2>
				<p>The fact that we are a free career site for job seekers allows recruiters to reach an active and/or passive audience of talent. Recruiters do not have to wonder if a candidate will have the ability to apply to a job or even be contacted by them.</p>
				<h2>Targeted Search Functionality</h2>
				<p>Our search technology enables recruiters to find the talent they need for a specific position quickly and efficiently.</p>
				<h2>Experienced Talent Specialists</h2>
				<p>Our talent specialists have vast recruitment experience. They work directly with clients and know the candidates in our system better than anyone. Having a hands-on team to support your recruiting strategies and to deliver the qualified candidates you expect to receive gives you a tremendous advantage.</p>
			</div>
			<div class="sidebar span4">
				<img src="assets/img/features-photo.jpg" alt="Features photo">
			</div>
		</div>
		<div class="chat">
			<button class="btn btn-primary btn-small btn-chat" title="rotated with CSS3, might be better to use an image / built in solution">Chat</button>
		</div>
	</div></article>
</div>
</div><!--/.wrap-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/Placeholders.min.js"></script>
</body>
</html>