<!DOCTYPE html>
<html>
<head>
<title>Entrepreneur Opportunities &ndash; 6FigureJobs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<!-- Stylesheet -->
<link href="assets/css/custom.css" rel="stylesheet" media="screen">
<!-- Page CSS -->
<link href="assets/css/page-career.css" rel="stylesheet" media="screen">
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<script src="assets/js/prefixfree.min.js"></script>
<link rel="shortcut icon" href="assets/ico/favicon.ico">
<script type="text/javascript" src="//use.typekit.net/qis2rct.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="page-opportunities">
<div id="wrap" class="wrap">
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-inner">
				<a href="index.html" id="brand" class="brand pull-left">
					<img src="assets/img/6figurejobs.png" alt="6FigureJobs logo">
					<!-- <strong class="search hidden-phone">Search $100K+ Jobs</strong> -->
				</a>
				<button type="button" class="btn btn-navbar collapsed pull-right" data-toggle="collapse" data-target=".nav-collapse">
					Home <span class="caret"></span>
				</button>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li class="hide"><a href="join.html"><strong>Join Free</strong></a></li>
						<li class="hide"><a href="companies.html">Companies</a></li>
						<li class="hide"><a href="blog.html">Blog</a></li>
						<li class="hide active"><a href="career.html">Career</a></li>
						<li class="hide has-divider"><a href="recruiters.html">Recruiters</a></li>
						<li class="has-divider"><a href="#">Sign In</a></li>
					</ul><!--/.nav-->
				</div><!--/.nav-collapse-->
				<form class="form finder-form clearfix pull-left">
					<input type="text" placeholder="Find by title or skills&hellip;" name="job-title" id="job-title" class="job-title input input-small">
					<input type="text" placeholder="Location" name="job-location" id="job-location" class="job-location input input-small">
					<a class="btn btn-primary btn-small btn-search" type="button" href="search.html">Search jobs</a>
					<span class="cancel">Or <a href="#" class="btn btn-link">Cancel</a></span>
				</form><!--/.finder-form-->
			</div><!--/.navbar-inner-->
		</div><!--/.container-->
	</div><!--/.navbar-inverse-->
	<header class="page-header"><div class="container">
		<a href="companies.html" class="back">Companies &raquo;</a>
		<h1 class="page-title">Entrepreneur Opportunities</h1>
		<p class="page-subtitle">Resources and opportunities for your professional growth.</p>
	</div></header>
	<article class="section opportunities"><div class="container">
		<ul class="opp-list">
			<li class="opp row-fluid">
				<div class="span2">
					<img src="http://placehold.it/114x62/f6f6f3/cccccc" alt="Job image" class="image">
				</div>
				<div class="span10">
					<h2 class="opp-title">FranChoice</h2>
					<p class="opp-intro">Have you dreamed of owning a business but don’t know where to start? FranChoice’s free franchise consultation service will help you find the right franchise for you.</p>
					<h3>Features</h3>
					<ul class="has-purple-bullet">
						<li>Must have $50K available capital.</li>
						<li>Must have at least $50K available capital.</li>
						<li>Must have $50K available capital.</li>
					</ul>
					<h3>Requisites</h3>
					<ul class="has-purple-bullet">
						<li>Must have $50K available capital.</li>
					</ul>
					<button class="btn btn-primary btn-small">View details</button>
				</div>
			</li>
			<li class="opp row-fluid">
				<div class="span2">
					<img src="http://placehold.it/114x62/f6f6f3/cccccc" alt="Job image" class="image">
				</div>
				<div class="span10">
					<h2 class="opp-title">FranChoice</h2>
					<p class="opp-intro">Have you dreamed of owning a business but don’t know where to start? FranChoice’s free franchise consultation service will help you find the right franchise for you.</p>
					<h3>Features</h3>
					<ul class="has-purple-bullet">
						<li>Must have $50K available capital.</li>
						<li>Must have at least $50K available capital.</li>
						<li>Must have $50K available capital.</li>
					</ul>
					<h3>Requisites</h3>
					<ul class="has-purple-bullet">
						<li>Must have $50K available capital.</li>
					</ul>
					<button class="btn btn-primary btn-small">View details</button>
				</div>
			</li>
		</ul>
	</div></article>
</div>
</div><!--/.wrap-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/Placeholders.min.js"></script>
</body>
</html>