<!DOCTYPE html>
<html>
<head>
<title>6 Tips To Make Your Online Job Search Work &ndash; 6FigureJobs</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="assets/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
<!-- Stylesheet -->
<link href="assets/css/custom.css" rel="stylesheet" media="screen">
<!-- Page CSS -->
<link href="assets/css/page-blog.css" rel="stylesheet" media="screen">
<!--[if lt IE 9]>
<script src="assets/js/html5shiv.js"></script>
<script src="assets/js/respond.min.js"></script>
<![endif]-->
<script src="assets/js/prefixfree.min.js"></script>
<link rel="shortcut icon" href="assets/ico/favicon.ico">
<script type="text/javascript" src="//use.typekit.net/qis2rct.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body class="page-blog">
<div id="wrap" class="wrap">
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-inner">
				<a href="index.html" id="brand" class="brand pull-left">
					<img src="assets/img/6figurejobs.png" alt="6FigureJobs logo">
					<strong class="search hidden-phone">Search $100K+ Jobs</strong>
				</a>
				<button type="button" class="btn btn-navbar collapsed pull-right" data-toggle="collapse" data-target=".nav-collapse">
					Home <span class="caret"></span>
				</button>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="join.html"><strong>Join Free</strong></a></li>
						<li><a href="companies.html">Companies</a></li>
						<li class="active"><a href="blog.html">Blog</a></li>
						<li><a href="career.html">Career</a></li>
						<li class="has-divider"><a href="recruiters.html">Recruiters</a></li>
						<li class="has-divider"><a href="#">Sign In</a></li>
					</ul><!--/.nav-->
				</div><!--/.nav-collapse-->
			</div><!--/.navbar-inner-->
		</div><!--/.container-->
	</div><!--/.navbar-inverse-->
	<article class="section blog"><div class="container">
		<div class="row-fluid">
			<div class="span9">
				<header class="entry-header">
					<h1 class="entry-title"><a href="#">6 Tips To Make Your Online Job Search Work</a></h1>
					<p class="entry-meta">By <a href="#">Wayne Richardson</a>, on May 20th, 2013</p>
				</header>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span9 content">
					<div class="author-bio entry-highlight">
						<img src="http://placehold.it/56x56/f6f6f3/cccccc" alt="Author image" class="avatar pull-left">
						<strong>Wayne Richarson</strong> is Looking for a job online can be either enjoyable or frustrating for executives. The good news is you get to decide. With the right knowledge, you can be ahead of the majority job seekers and get more quality interviews  .
					</div>
					<div class="entry-content">
						<p>Looking for a job online can be either enjoyable or frustrating for executives. The good news is you get to decide. With the right knowledge, you can be ahead of the majority job seekers and get more quality interviews and offers.</p>
						<p>Here are 6 practical ideas to help you succeed in your online job search:</p>
						<p><strong>1. Use only reputable and level-appropriate talent communities: </strong></p>
						<p>What use is posting your resume on a job board that caters to recent college graduates if you are looking for an executive position? Many job seekers believe that the more ‘exposure’ they have, the better. The reality is you are better off using executive sites such as 6FigureJobs to give you access to career opportunities you are qualified for.</p>
						<p><strong>2. Be active online if you want better results.</strong></p>
						<p>Some executives believe that merely having an online profile is enough to get loads of interviews.  It usually isn’t, unless you are in a very specialized field.  Don’t wait for employers to find you! It is far more effective to do periodic searches for new postings and apply without delay.</p>
						<p><strong>3. Get a high-power resume that doesn’t get lost in a pile.  </strong></p>
						<p>Millions of resumes are e-mailed daily. How does your resume stack up? Here is the solution: develop a document that sends this messages: “I am positively different from other qualified applicants and you will likely be interested in what I have to offer”. It’s a common mistake to use a form-based resume and expect results. </p>
					</div>
					<div class="entry-highlight">
						<strong>WANT MORE INTERVIEWS AND BETTER JOBS?</strong> Start with a properly prepared resume for success in this market. Get a Free resume review from Resumes For Leaders (resume writing partner of 6FigureJobs since 1999) and find out how to turn your current resume into a job magnet!
					</div>
					<footer class="entry-meta">
						This entry was posted in <a href="#">Executive Job Search, General Career Advice, Networking, Resume Advice and tagged 6figurejobs, job boards, job search, networking, resume tips</a>.
					</footer>
				<div class="blog-nav comments">
					<a href="#" class="btn btn-primary">Disqus code here</a>
				</div>
			</div>
			<aside class="span2 offset1 sidebar">
				<ul class="share">
					<li><a href="https://twitter.com/share" class="twitter-share-button" data-via="6figurejobs" data-related="6figurejobs">Tweet</a></li>
					<li><iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.6figurejobs.com%2F&amp;send=false&amp;layout=button_count&amp;width=90&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=343546539068524" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
					<li><a href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark" ><img src="//assets.pinterest.com/images/pidgets/</a>pin_it_button.png" /></a>
					<li><div class="g-plusone" data-size="medium"></div></li>
					<li><script type="IN/Share" data-counter="right"></script></li>
				</ul>
			</aside>
		</div>
	</div></article>
</div><!--/.wrap-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/Placeholders.min.js"></script>

<!-- Twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- Pinterest -->
<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
<!-- Google+ -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<!-- LinkedIn -->
<script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
</body>
</html>